@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

.itim-regular {
  font-family: "Itim", cursive;
  font-weight: 70;
  font-style: normal;
}

$color-logo: #1E5779;
$color-white: #FFFFFF;
$color-accent-1: #FF8B81;
$color-accent-2: #FFD461;
$color-accent-3: #00ADAB;
$color-bg: #F9F9F9;
$color-text-dark: #1E1E1E;

$font-stack: 'Itim', cursive;
$border-radius: 12px;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.07);
