@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

.itim-regular {
  font-family: "Itim", cursive;
  font-weight: 70;
  font-style: normal;
}

:root {
  text-size-adjust: 100%;
}

body,
html {
  font-family: "Itim", cursive;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #5493bb;
  font-size: 2rem;
  margin: 0;
  padding: 1rem;
}

img {
  max-height: 40vh;
  width: auto !important;
  border-radius: 20px;
}
.navBar {
  display: flex;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 100;
  height: 5rem;
}

.navBar > nav {
  width: 100vw;
}

.navBar > nav > ul {
  display: flex;
  flex-direction: row;
  background-color: #5493bb;
  list-style: none;
  padding: 1.5rem;
}

.navBar > nav > ul > li {
  color: white;
  font-size: 1.2rem;
}

.navBar > nav > ul > li > a {
  border: 3px solid #5493bb;
  border-radius: 20px;
  padding: 0.7rem;
  transition: 0.3s ease;
  text-decoration: none;
  white-space: wrap;
  color: white;
}

.navBar > nav > ul > li > a:hover {
  border: 3px solid #fdd7ad;
  color: #fff;
}

.notNavBar {
  padding-top: 5rem;
}
.addProject {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
  width: 50vw;
  height: 100%;
}

.addProjectForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 45vw;
  height: 100%;
  background-color: #b8dbf1;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.addProjectForm > * {
  background-color: #fff;
  border-radius: 20px;
  padding: 1rem;
  width: 40vw;
  margin: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.submit {
  align-items: center;
  background-color: #5493bb;
  border: none;
  border-radius: 20px;
  padding: 0.7rem;
  font: inherit;
  color: #fff;
  cursor: pointer;
  margin: 5px;
  width: fit-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #3b789e;
}

.projectList {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: flex-start;
  padding-top: 60rem;
  width: 100%;
  height: 100%;
}

.projectListItem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  padding: 2rem;
}

.projectListItem > * {
  background-color: #b8dbf1;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  flex: 0 1 300px;
}

.projectListHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 2rem;
}

.filter {
  background-color: #fff;
  border-radius: 20px;
  padding: 1rem;
  width: 20vw;
  margin: 1rem;
  border: 3px solid #5493bb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.filter:focus {
  outline: none;
  border: 3px solid #445089;
}

.projectCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: fit-content;
  height: fit-content;
  max-height: 70vh;
  background-color: #5493bb;
  border-radius: 20px;
}

.details > * {
  background-color: #fff;
  border-radius: 20px;
  padding: 1rem;
  width: 40vw;
  margin: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.projectCardContent {
  font-size: 1.7rem;
}

.deleteButton, .editButton, .submit {
  background-color: #445089;
  border: none;
  border-radius: 20px;
  padding: 0.2rem 0.5rem;
  margin: .2rem;
  color: #fff;
  cursor: pointer;
  width: fit-content;
  align-self: flex-end;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.editModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.editModalBackground {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5493bb;
  width: 50vw;
  height: fit-content;
  border-radius: 20px;
  padding: 2rem;
}

.editModalBackground > form > * {
  background-color: #fff;
  border-radius: 20px;
  padding: 1rem;
  width: 40vw;
  margin: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}